body {
    font-family: arial;
}

.app>div,
.app>ul,
.app>p {
    border-bottom: 1px solid dodgerblue;
    margin: 10px 0;
    padding: 10px 20px;
}

.f-row {
    display: flex;
}

.btn {
    cursor: pointer;
    height: 32px;
    padding: 3px;
    background: none;
    border: 1px solid silver;
    border-radius: .3rem;
}

.btn:hover {
    background: dodgerblue;
    color: white;
}
