<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue JS - Section 3.2 - Lists</title>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="../00-styles/styles.css">
    <style>
        .range p {
            transition: color 5s linear;
        }
        .above {
            color: firebrick;
        }
        .below {
            color: darkblue;
        }
    </style>
    <script>
        window.onload = function start() {
            new Vue({
                el: "#app",
                data: {
                    ingredients: ["banana", "ice cream", "milk"],
                    users: [
                        {name: "gui", age: 36, job: "dev"},
                        {name: "anny", age: 60, job: "teacher"},
                        {name: "yan", age: 33, job: "lawyer"}
                    ],
                    heroes: ["neo", "batman", "freddy"],
                    newHero: ""
                },
                methods: {

                }
            });
        };
    </script>
</head>

<body>
    <div id="app" class="app">

        <h1 class="title">Lists</h1>

        <ul class="list">
            <li class="item" v-for="(ingredient, i) in ingredients">
                {{ ingredient }} ({{ i }})
            </li>
        </ul>

        <template v-for="(ingred, index) in ingredients">
            <h2>{{ ingred }}</h2>
            <p>{{ index }}</p>
        </template>

        <ul class="list">
            <li class="item" v-for="(user, i) in users">
                <!--  l'ordre des params de v-for="()" est important -->
                <div v-for="(value, key, index) in user">
                    {{index}} - {{ key }}: {{ value }}
                </div>
            </li>
        </ul>

        <div v-for="n in 13"> {{ n }}</div>

        <ul>
            <!--  enc as de mise à jour / reorganisation du tableau,
            le bind sur :key permet de lier l'{objet} et son index à l'<élement> et sa position dans le DOM -->
            <li v-for="hero in heroes" :key="hero">{{ hero }}</li>
        </ul>

        <input type="text" v-model="newHero">
        <button @click="heroes.push(newHero)">add hero</button>
    </div>
</body>

</html>
